hu005/workflows/HU-005.json
{
  "name": "HU-005: Notificación Corrección Documentos",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-webhook-hu004",
      "name": "Webhook-HU004",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "hu005-notificacion-correccion"
    },
    {
      "parameters": {
        "functionCode": "// Validar estructura de datos recibidos\nconst input = $input.all()[0].json;\n// Los datos del webhook pueden estar en .body o directamente en el json\nconst data = input.body || input;\n\n// Validaciones\nconst validations = {\n  idSolicitud: !!data.idSolicitud,\n  estudianteNombre: !!data.estudiante?.nombre,\n  estudianteEmail: !!data.estudiante?.email && data.estudiante.email.includes('@'),\n  errorTipo: !!data.error?.tipo,\n  errorMensaje: !!data.error?.mensaje\n};\n\n// Verificar todas las validaciones\nconst allValid = Object.values(validations).every(v => v === true);\n\nif (!allValid) {\n  return {\n    json: {\n      error: true,\n      validations: validations,\n      message: \"Datos de entrada inválidos\",\n      received: data\n    }\n  };\n}\n\nreturn {\n  json: {\n    valid: true,\n    data: data\n  }\n};"
      },
      "id": "function-validar-entrada",
      "name": "Function-ValidarEntrada",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.valid}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-datos-validos",
      "name": "IF-DatosValidos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const inputData = $input.all()[0].json;\nconst data = inputData.data || inputData;\n\nreturn {\n  json: {\n    estudiante: {\n      nombre: data.estudiante.nombre,\n      rut: data.estudiante.rut,\n      email: data.estudiante.email\n    },\n    solicitud: {\n      id: data.idSolicitud,\n      timestamp: data.timestamp || new Date().toISOString()\n    },\n    error: {\n      tipo: data.error.tipo,\n      mensaje: data.error.mensaje,\n      detalles: data.error.detalles || {}\n    },\n    metadata: {\n      workflow: \"HU-005\",\n      version: \"1.0\",\n      processed_at: new Date().toISOString()\n    }\n  }\n};"
      },
      "id": "function-preparar-datos",
      "name": "Function-PrepararDatos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "functionCode": "const data = $input.all()[0].json;\n\n// Función para convertir MIME type a formato legible\nfunction formatoLegible(mimeType) {\n  const formatos = {\n    'application/pdf': 'PDF',\n    'application/vnd.openxmlformats-officedocument.wordprocessingml.document': 'Word (DOCX)',\n    'application/msword': 'Word (DOC)',\n    'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': 'Excel (XLSX)',\n    'application/vnd.ms-excel': 'Excel (XLS)',\n    'image/jpeg': 'Imagen JPEG',\n    'image/jpg': 'Imagen JPG',\n    'image/png': 'Imagen PNG',\n    'application/zip': 'Archivo ZIP',\n    'text/plain': 'Texto plano'\n  };\n  return formatos[mimeType] || mimeType || 'Desconocido';\n}\n\nconst templates = {\n  formato_incorrecto: {\n    subject: \"Corrección Requerida - Formato de Documento Incorrecto\",\n    body: `Estimado/a [NOMBRE_ESTUDIANTE],\n\nHemos recibido tu solicitud de convalidación (ID: [ID_SOLICITUD]), sin embargo, no podemos procesarla debido a que el documento adjunto no está en el formato correcto.\n\n📌 PROBLEMA DETECTADO:\n- Archivo recibido: [NOMBRE_ARCHIVO]\n- Formato detectado: [TIPO_ARCHIVO]\n- Motivo rechazo: [MOTIVO_RECHAZO]\n\n✅ CÓMO CORREGIR:\n1. Convierte tu documento a formato PDF\n2. Verifica que el archivo no supere 10 MB\n3. Reenvía tu solicitud haciendo clic aquí: [LINK_REENVIO]\n\n📧 ¿NECESITAS AYUDA?\nContacta a nuestro equipo: convalidaciones@unab.cl\n\nSaludos cordiales,\nSistema de Convalidaciones Académicas\nUniversidad Andrés Bello`\n  },\n  tamano_excedido: {\n    subject: \"Corrección Requerida - Archivo Demasiado Grande\",\n    body: `Estimado/a [NOMBRE_ESTUDIANTE],\n\nHemos recibido tu solicitud de convalidación (ID: [ID_SOLICITUD]), sin embargo, no podemos procesarla debido a que el archivo adjunto supera el tamaño máximo permitido.\n\n📌 PROBLEMA DETECTADO:\n- Archivo recibido: [NOMBRE_ARCHIVO]\n- Tamaño actual: [TAMANO_MB] MB\n- Tamaño máximo: 10 MB\n\n✅ CÓMO CORREGIR:\n1. Comprime tu archivo PDF\n2. Verifica que el tamaño final sea menor a 10 MB\n3. Reenvía tu solicitud: [LINK_REENVIO]\n\n📧 ¿NECESITAS AYUDA?\nContacta: convalidaciones@unab.cl\n\nSaludos cordiales,\nSistema de Convalidaciones Académicas\nUniversidad Andrés Bello`\n  },\n  archivo_corrupto: {\n    subject: \"Corrección Requerida - Archivo No Puede Ser Leído\",\n    body: `Estimado/a [NOMBRE_ESTUDIANTE],\n\nHemos recibido tu solicitud de convalidación (ID: [ID_SOLICITUD]), sin embargo, no podemos procesarla debido a que el archivo adjunto no puede ser leído correctamente.\n\n📌 PROBLEMA DETECTADO:\n- Archivo recibido: [NOMBRE_ARCHIVO]\n- Error: El archivo está corrupto o dañado\n\n✅ CÓMO CORREGIR:\n1. Verifica que el archivo PDF se abra correctamente\n2. Genera un nuevo PDF desde el documento original\n3. Reenvía tu solicitud: [LINK_REENVIO]\n\n📧 ¿NECESITAS AYUDA?\nContacta: convalidaciones@unab.cl\n\nSaludos cordiales,\nSistema de Convalidaciones Académicas\nUniversidad Andrés Bello`\n  },\n  campos_faltantes: {\n    subject: \"Corrección Requerida - Información Incompleta\",\n    body: `Estimado/a [NOMBRE_ESTUDIANTE],\n\nHemos recibido tu solicitud de convalidación (ID: [ID_SOLICITUD]), sin embargo, no podemos procesarla debido a que falta información requerida.\n\n📌 CAMPOS FALTANTES:\n[CAMPOS_FALTANTES]\n\n✅ CÓMO CORREGIR:\n1. Completa todos los campos obligatorios\n2. Verifica información adjunta\n3. Reenvía tu solicitud: [LINK_REENVIO]\n\n📧 ¿NECESITAS AYUDA?\nContacta: convalidaciones@unab.cl\n\nSaludos cordiales,\nSistema de Convalidaciones Académicas\nUniversidad Andrés Bello`\n  }\n};\n\nconst template = templates[data.error.tipo] || templates.formato_incorrecto;\n\n// Crear objeto con los valores de reemplazo\nconst replacements = {\n  'NOMBRE_ESTUDIANTE': data.estudiante.nombre,\n  'ID_SOLICITUD': data.solicitud.id,\n  'NOMBRE_ARCHIVO': data.error.detalles.archivoNombre || 'N/A',\n  'TIPO_ARCHIVO': formatoLegible(data.error.detalles.archivoTipo),\n  'TAMANO_MB': data.error.detalles.tamanoMB || 'N/A',\n  'MOTIVO_RECHAZO': data.error.detalles.motivoRechazo || data.error.mensaje,\n  'LINK_REENVIO': `https://formulario-convalidacion.unab.cl?retry=${data.solicitud.id}`,\n  'CAMPOS_FALTANTES': (data.error.detalles.camposFaltantes || []).map(c => `- ${c}`).join('\\n')\n};\n\n// Reemplazar placeholders en subject y body (sin conversión de entidades, quoted-printable lo maneja)\nlet subject = template.subject;\nlet body = template.body;\n\nfor (const [key, value] of Object.entries(replacements)) {\n  const placeholder = `[${key}]`;\n  subject = subject.split(placeholder).join(String(value));\n  body = body.split(placeholder).join(String(value));\n}\n\nreturn {\n  json: {\n    to: data.estudiante.email,\n    from: 'maudevchile@gmail.com',\n    subject: subject,\n    body: body,\n    metadata: {\n      idSolicitud: data.solicitud.id,\n      tipoError: data.error.tipo,\n      templateUsado: data.error.tipo,\n      estudianteNombre: data.estudiante.nombre\n    }\n  }\n};"
      },
      "id": "function-redactar-email",
      "name": "Function-RedactarEmail",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{$json.from}}",
        "toEmail": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "emailFormat": "text",
        "text": "={{$json.body}}",
        "options": {
          "allowUnauthorizedCerts": false,
          "encoding": "quoted-printable"
        }
      },
      "id": "email-correccion",
      "name": "Email-Correccion",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 200],
      "credentials": {
        "smtp": "={{$credentials.smtp}}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"mensaje\": \"Email de corrección enviado exitosamente\", \"emailEnviado\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond-Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"error\": \"Datos de entrada inválidos\", \"validations\": \"={{$json.validations}}\", \"mensaje\": \"Faltan campos requeridos o tienen formato incorrecto\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error-validacion",
      "name": "Respond-Error-Validacion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "functionCode": "const error = $input.all()[0].json;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    idSolicitud: \"UNKNOWN\",\n    tipo_notificacion: \"error_smtp\",\n    tipo_error: \"smtp_connection_failed\",\n    email_enviado: \"no\",\n    destinatario: \"UNKNOWN\",\n    estado_envio: \"fallido\",\n    intentos_envio: 3,\n    detalles_error: JSON.stringify(error)\n  }\n};"
      },
      "id": "function-log-error-smtp",
      "name": "Function-LogErrorSMTP",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 400],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"error\": \"Error al enviar email\", \"mensaje\": \"El sistema no pudo enviar el email de corrección. El caso ha sido marcado como pendiente de reenvío.\", \"intentos\": 3, \"estadoSolicitud\": \"pendiente_reenvio\"}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error-smtp",
      "name": "Respond-Error-SMTP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 400]
    }
  ],
  "connections": {
    "Webhook-HU004": {
      "main": [
        [
          {
            "node": "Function-ValidarEntrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function-ValidarEntrada": {
      "main": [
        [
          {
            "node": "IF-DatosValidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-DatosValidos": {
      "main": [
        [
          {
            "node": "Function-PrepararDatos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond-Error-Validacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function-PrepararDatos": {
      "main": [
        [
          {
            "node": "Function-RedactarEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function-RedactarEmail": {
      "main": [
        [
          {
            "node": "Email-Correccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email-Correccion": {
      "main": [
        [
          {
            "node": "Respond-Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function-LogErrorSMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function-LogErrorSMTP": {
      "main": [
        [
          {
            "node": "Respond-Error-SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-09T14:30:00.000Z",
      "updatedAt": "2025-11-09T14:30:00.000Z",
      "id": "hu005",
      "name": "HU-005"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-09T14:30:00.000Z",
  "versionId": "1.0"
}
