hu005/workflows/HU-005.json
{
  "name": "HU-005: Notificación Corrección Documentos",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-webhook-hu004",
      "name": "Webhook-HU004",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "hu005-notificacion-correccion"
    },
    {
      "parameters": {
        "functionCode": "// Validar estructura de datos recibidos\nconst data = $input.all()[0].json;\n\n// Validaciones\nconst validations = {\n  idSolicitud: !!data.idSolicitud,\n  estudianteNombre: !!data.estudiante?.nombre,\n  estudianteEmail: !!data.estudiante?.email && data.estudiante.email.includes('@'),\n  errorTipo: !!data.error?.tipo,\n  errorMensaje: !!data.error?.mensaje\n};\n\n// Verificar todas las validaciones\nconst allValid = Object.values(validations).every(v => v === true);\n\nif (!allValid) {\n  return {\n    json: {\n      error: true,\n      validations: validations,\n      message: \"Datos de entrada inválidos\",\n      received: data\n    }\n  };\n}\n\nreturn {\n  json: {\n    valid: true,\n    data: data\n  }\n};"
      },
      "id": "function-validar-entrada",
      "name": "Function-ValidarEntrada",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.valid}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-datos-validos",
      "name": "IF-DatosValidos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const input = $input.all()[0].json.data;\n\nreturn {\n  json: {\n    estudiante: {\n      nombre: input.estudiante.nombre,\n      rut: input.estudiante.rut,\n      email: input.estudiante.email\n    },\n    solicitud: {\n      id: input.idSolicitud,\n      timestamp: input.timestamp || new Date().toISOString()\n    },\n    error: {\n      tipo: input.error.tipo,\n      mensaje: input.error.mensaje,\n      detalles: input.error.detalles || {}\n    },\n    metadata: {\n      workflow: \"HU-005\",\n      version: \"1.0\",\n      processed_at: new Date().toISOString()\n    }\n  }\n};"
      },
      "id": "function-preparar-datos",
      "name": "Function-PrepararDatos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "functionCode": "const data = $input.all()[0].json;\n\nconst templates = {\n  formato_incorrecto: {\n    subject: \"Corrección Requerida - Formato de Documento Incorrecto\",\n    body: `Estimado/a [NOMBRE_ESTUDIANTE],\\n\\nHemos recibido tu solicitud de convalidación (ID: [ID_SOLICITUD]), sin embargo, no podemos procesarla debido a que el documento adjunto no está en el formato correcto.\\n\\n📌 PROBLEMA DETECTADO:\\n- Archivo recibido: [NOMBRE_ARCHIVO]\\n- Formato detectado: [TIPO_ARCHIVO]\\n- Motivo rechazo: [MOTIVO_RECHAZO]\\n\\n✅ CÓMO CORREGIR:\\n1. Convierte tu documento a formato PDF\\n2. Verifica que el archivo no supere 10 MB\\n3. Reenvía tu solicitud haciendo clic aquí: [LINK_REENVIO]\\n\\n📧 ¿NECESITAS AYUDA?\\nContacta a nuestro equipo: convalidaciones@unab.cl\\n\\nSaludos cordiales,\\nSistema de Convalidaciones Académicas\\nUniversidad Andrés Bello`\n  },\n  tamano_excedido: {\n    subject: \"Corrección Requerida - Archivo Demasiado Grande\",\n    body: `Estimado/a [NOMBRE_ESTUDIANTE],\\n\\nHemos recibido tu solicitud de convalidación (ID: [ID_SOLICITUD]), sin embargo, no podemos procesarla debido a que el archivo adjunto supera el tamaño máximo permitido.\\n\\n📌 PROBLEMA DETECTADO:\\n- Archivo recibido: [NOMBRE_ARCHIVO]\\n- Tamaño actual: [TAMANO_MB] MB\\n- Tamaño máximo: 10 MB\\n\\n✅ CÓMO CORREGIR:\\n1. Comprime tu archivo PDF\\n2. Verifica que el tamaño final sea menor a 10 MB\\n3. Reenvía tu solicitud: [LINK_REENVIO]\\n\\n📧 ¿NECESITAS AYUDA?\\nContacta: convalidaciones@unab.cl\\n\\nSaludos cordiales,\\nSistema de Convalidaciones Académicas\\nUniversidad Andrés Bello`\n  },\n  archivo_corrupto: {\n    subject: \"Corrección Requerida - Archivo No Puede Ser Leído\",\n    body: `Estimado/a [NOMBRE_ESTUDIANTE],\\n\\nHemos recibido tu solicitud de convalidación (ID: [ID_SOLICITUD]), sin embargo, no podemos procesarla debido a que el archivo adjunto no puede ser leído correctamente.\\n\\n📌 PROBLEMA DETECTADO:\\n- Archivo recibido: [NOMBRE_ARCHIVO]\\n- Error: El archivo está corrupto o dañado\\n\\n✅ CÓMO CORREGIR:\\n1. Verifica que el archivo PDF se abra correctamente\\n2. Genera un nuevo PDF desde el documento original\\n3. Reenvía tu solicitud: [LINK_REENVIO]\\n\\n📧 ¿NECESITAS AYUDA?\\nContacta: convalidaciones@unab.cl\\n\\nSaludos cordiales,\\nSistema de Convalidaciones Académicas\\nUniversidad Andrés Bello`\n  },\n  campos_faltantes: {\n    subject: \"Corrección Requerida - Información Incompleta\",\n    body: `Estimado/a [NOMBRE_ESTUDIANTE],\\n\\nHemos recibido tu solicitud de convalidación (ID: [ID_SOLICITUD]), sin embargo, no podemos procesarla debido a que falta información requerida.\\n\\n📌 CAMPOS FALTANTES:\\n[CAMPOS_FALTANTES]\\n\\n✅ CÓMO CORREGIR:\\n1. Completa todos los campos obligatorios\\n2. Verifica información adjunta\\n3. Reenvía tu solicitud: [LINK_REENVIO]\\n\\n📧 ¿NECESITAS AYUDA?\\nContacta: convalidaciones@unab.cl\\n\\nSaludos cordiales,\\nSistema de Convalidaciones Académicas\\nUniversidad Andrés Bello`\n  }\n};\n\nconst template = templates[data.error.tipo] || templates.formato_incorrecto;\n\nlet subject = template.subject;\nlet body = template.body;\n\nconst replacements = {\n  '[NOMBRE_ESTUDIANTE]': data.estudiante.nombre,\n  '[ID_SOLICITUD]': data.solicitud.id,\n  '[NOMBRE_ARCHIVO]': data.error.detalles.archivoNombre || 'N/A',\n  '[TIPO_ARCHIVO]': data.error.detalles.archivoTipo || 'N/A',\n  '[TAMANO_MB]': data.error.detalles.tamanoMB || 'N/A',\n  '[MOTIVO_RECHAZO]': data.error.detalles.motivoRechazo || data.error.mensaje,\n  '[LINK_REENVIO]': `https://formulario-convalidacion.unab.cl?retry=${data.solicitud.id}`,\n  '[CAMPOS_FALTANTES]': (data.error.detalles.camposFaltantes || []).map(c => `- ${c}`).join('\\n')\n};\n\nObject.keys(replacements).forEach(key => {\n  subject = subject.replace(key, replacements[key]);\n  body = body.replace(new RegExp(key, 'g'), replacements[key]);\n});\n\nreturn {\n  json: {\n    to: data.estudiante.email,\n    from: 'convalidaciones@unab.cl',\n    subject: subject,\n    body: body,\n    metadata: {\n      idSolicitud: data.solicitud.id,\n      tipoError: data.error.tipo,\n      templateUsado: data.error.tipo,\n      estudianteNombre: data.estudiante.nombre\n    }\n  }\n};"
      },
      "id": "function-redactar-email",
      "name": "Function-RedactarEmail",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{$json.from}}",
        "toEmail": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "text": "={{$json.body}}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "email-correccion",
      "name": "Email-Correccion",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 200],
      "credentials": {
        "smtp": "={{$credentials.smtp}}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "functionCode": "const emailData = $input.all()[0].json;\nconst previousNode = $workflow.lastNode('Function-PrepararDatos');\nconst previousData = previousNode.json;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    idSolicitud: emailData.metadata.idSolicitud,\n    tipo_notificacion: \"error_documentacion\",\n    tipo_error: emailData.metadata.tipoError,\n    email_enviado: \"si\",\n    destinatario: emailData.to,\n    template_utilizado: emailData.metadata.templateUsado,\n    estado_envio: \"exitoso\",\n    intentos_envio: 1,\n    estudiante_nombre: emailData.metadata.estudianteNombre,\n    detalles_error: previousData.error.mensaje\n  }\n};"
      },
      "id": "function-preparar-log",
      "name": "Function-PrepararLog",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetName": "={{\"Logs\"}}",
        "columns": {
          "mappings": [
            {
              "column": "timestamp",
              "value": "={{$json.timestamp}}"
            },
            {
              "column": "idSolicitud",
              "value": "={{$json.idSolicitud}}"
            },
            {
              "column": "tipo_notificacion",
              "value": "={{$json.tipo_notificacion}}"
            },
            {
              "column": "tipo_error",
              "value": "={{$json.tipo_error}}"
            },
            {
              "column": "email_enviado",
              "value": "={{$json.email_enviado}}"
            },
            {
              "column": "destinatario",
              "value": "={{$json.destinatario}}"
            },
            {
              "column": "template_utilizado",
              "value": "={{$json.template_utilizado}}"
            },
            {
              "column": "estado_envio",
              "value": "={{$json.estado_envio}}"
            },
            {
              "column": "intentos_envio",
              "value": "={{$json.intentos_envio}}"
            },
            {
              "column": "estudiante_nombre",
              "value": "={{$json.estudiante_nombre}}"
            },
            {
              "column": "detalles_error",
              "value": "={{$json.detalles_error}}"
            }
          ]
        },
        "options": {}
      },
      "id": "googlesheets-log",
      "name": "GoogleSheets-Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1650, 200],
      "credentials": {
        "googleSheetsOAuth2Api": "={{$credentials.googleSheetsOAuth2Api}}"
      },
      "continueOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"idSolicitud\": \"{{$json.idSolicitud}}\", \"emailEnviado\": true, \"destinatario\": \"{{$json.destinatario}}\", \"tipoError\": \"{{$json.tipo_error}}\", \"templateUtilizado\": \"{{$json.template_utilizado}}\", \"timestamp\": \"{{$json.timestamp}}\", \"logRegistrado\": true, \"mensaje\": \"Email de corrección enviado exitosamente\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond-Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"error\": \"Datos de entrada inválidos\", \"validations\": {{$json.validations}}, \"mensaje\": \"Faltan campos requeridos o tienen formato incorrecto\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error-validacion",
      "name": "Respond-Error-Validacion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "functionCode": "const error = $input.all()[0].json;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    idSolicitud: \"UNKNOWN\",\n    tipo_notificacion: \"error_smtp\",\n    tipo_error: \"smtp_connection_failed\",\n    email_enviado: \"no\",\n    destinatario: \"UNKNOWN\",\n    estado_envio: \"fallido\",\n    intentos_envio: 3,\n    detalles_error: JSON.stringify(error)\n  }\n};"
      },
      "id": "function-log-error-smtp",
      "name": "Function-LogErrorSMTP",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 400],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"error\": \"Error al enviar email\", \"mensaje\": \"El sistema no pudo enviar el email de corrección. El caso ha sido marcado como pendiente de reenvío.\", \"intentos\": 3, \"estadoSolicitud\": \"pendiente_reenvio\"}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error-smtp",
      "name": "Respond-Error-SMTP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 400]
    }
  ],
  "connections": {
    "Webhook-HU004": {
      "main": [
        [
          {
            "node": "Function-ValidarEntrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function-ValidarEntrada": {
      "main": [
        [
          {
            "node": "IF-DatosValidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-DatosValidos": {
      "main": [
        [
          {
            "node": "Function-PrepararDatos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond-Error-Validacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function-PrepararDatos": {
      "main": [
        [
          {
            "node": "Function-RedactarEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function-RedactarEmail": {
      "main": [
        [
          {
            "node": "Email-Correccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email-Correccion": {
      "main": [
        [
          {
            "node": "Function-PrepararLog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function-LogErrorSMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function-PrepararLog": {
      "main": [
        [
          {
            "node": "GoogleSheets-Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoogleSheets-Log": {
      "main": [
        [
          {
            "node": "Respond-Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function-LogErrorSMTP": {
      "main": [
        [
          {
            "node": "Respond-Error-SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-09T14:30:00.000Z",
      "updatedAt": "2025-11-09T14:30:00.000Z",
      "id": "hu005",
      "name": "HU-005"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-09T14:30:00.000Z",
  "versionId": "1.0"
}
